body, html {
	background: #888;
	margin: 0;
}

#head {
	color: rgb(255,0,0);
	font-Size:25px;
	text-align: center;
	font-style: serif;
	text-decoration: Bold;
}
 #head:hover {
	color: rgb(0,0,225); 
}
img{
width: 100%;
}
a:visited {
color: blue;	
}
#website {
font-size: 17px;	
}
#BAphoto{
hieght:	117px;
}
