#head {
	color: rgb(255,0,0);
	font-Size:25px;
	text-align: center;
	font-style: serif;
	text-decoration: Bold;
}
 #head:hover {
	color: rgb(0,0,225); 
}
centron_link{
color: red;	
}
active:centron_link{
color: yellow;	
}
hover:centron_link{
color: green;	
}
img{
width: 100%;	
}
