body, html {
	background: #777;
	margin: 0;
}

#head {
	color: rgb(255,0,0);
	font-Size:25px;
	text-align: center;
	font-style: serif;
	text-decoration: Bold;
}
 #head:hover {
	color: rgb(0,0,225); 
}
centron_link{
color: lime;	
}
active:centron_link{
color: lime;	
}
hover:centron_link{
color: lime;	
}
img{
width: 100%;
}
